:root {
  --text-primary: #1E1E1E;
  --text-secondary: #999;
  --text-white: #fff;
  --text-link: #3369F3;
  --text-danger: #F00;
  --stroke: #EAEAEA;
  --stroke-active: #3369F3;
  --bg-main: #fff;
  --bg-primary: #3369F3;
  --bg-secondary: #FBFBFB;
  --bg-tertiary: #EFEFEF;
  --shadow: rgb(0, 0, 0, 0.14);
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin:0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
